@model FinalProg3.Models.facturas

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Eliminar Facturas</h2>

<h3>¿Estás seguro de querer eliminar esta transaccion?</h3>
<div>
    <h4>Si eliminas esta transacción no será posible recuperar los datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePaciente)
        </dd>

        <dt>
            Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpleado)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Monto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a facturas", "Index")
        </div>
    }
</div>
