@model IEnumerable<FinalProg3.Models.facturas>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Ver Facturas</h2>

<div style="display:flex; justify-content: space-between; padding:1%;">
    @Html.ActionLink("Crear Factura nueva", "Create")
    @Html.ActionLink("Regresar a citas", "Index","citas")
</div>
<table class="table table-hover">
    <tr style="background: #808080; color: #fff;">
        <th class="text-center">
            Paciente
        </th>
        <th class="text-center">
            Empleado
        </th>
        <th class="text-center">
            Fecha
        </th>
        <th class="text-center">
            Monto
        </th>
        <th class="text-center"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.nombrePaciente)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.nombreEmpleado)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td class="text-center">
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}


</table>

@*<h3>Total: @{Model.Sum(i=>i.monto)}</h3>*@
