@model FinalProg3.Models.pacientes

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Eliminar Paciente</h2>

<h3>¿Estás seguro de querer eliminar este paciente?</h3>
<div>
    <h4>Una vez eliminado no podrás recuperar el registro borrado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNac)
        </dd>

        <dt>
            Tipo de sangre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSangre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
