@model IEnumerable<FinalProg3.Models.pacientes>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Lista de pacientes</h2>

<div style="display:flex; justify-content: space-between; padding:1%;">
    @Html.ActionLink("Crear nuevo paciente", "Create")
    @Html.ActionLink("Agregar nueva cita", "Create", "citas")
</div>

@*using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("Busqueda", "" , new { @class = "form-control", placeholder = "Introduzca un mes" } )
                @Html.ValidationMessage("Busqueda", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
        </div>
    }*@
<div>
    <table class="table table-hover">
        <tr style="background: #808080; color: #fff;">
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Tipo de sangre
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoSangre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Detalles", "Details", new { id = item.id }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }) |
                @Html.ActionLink("Agregar Cita", "Cita", new { id = item.id })
            </td>
        </tr>
        }

    </table>
</div>

