@model FinalProg3.Models.empleados

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Eliminar empleado</h2>

<h3>¿Estás seguro de querer eliminar este usuario?</h3>
<div>
    <h4>Una vez eliminado no será posible recuperar este usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            Puesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver atras", "Index")
        </div>
    }
</div>
