@model FinalProg3.Models.empleados

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Modificar empleados</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre:", htmlAttributes: new { @class = "text-center", @style = "width:100%;" })
            <div class="center-block">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control center-block text-center" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellido, "Apellido:", htmlAttributes: new { @class = "text-center", @style = "width:100%;" })
            <div class="center-block">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control center-block text-center" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.puesto, "Puesto:", htmlAttributes: new { @class = "text-center", @style = "width:100%;" })
            <div class="center-block">
                @Html.EditorFor(model => model.puesto, new { htmlAttributes = new { @class = "form-control center-block text-center" } })
                @Html.ValidationMessageFor(model => model.puesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, "Usuario:", htmlAttributes: new { @class = "text-center", @style = "width:100%;" })
            <div class="center-block">
                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control center-block text-center" } })
                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clave, "Clave:", htmlAttributes: new { @class = "text-center", @style = "width:100%;" })
            <div class="center-block">
                @Html.Password("Clave", "", new { id = "clave", Textmode = "Password", @class = "form-control center-block text-center", placeholder = "Clave", @style = "margin-bottom: 2%;" })
                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group center-block">
            <div class="center-block">
                <input type="submit" value="Guardar" class="btn btn-danger btn-lg btn-block center-block " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
