@model FinalProg3.Models.citas
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Create";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Crear Citas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.fechaOtorgada, htmlAttributes: new { @class = "control-label col-md-2", })*@
        <div class="center-block">
            @Html.EditorFor(model => model.fechaOtorgada, new { htmlAttributes = new { @class = "form-control center-block text-center",placeholder="Fecha de la cita", id = "fecha" } })
            @Html.ValidationMessageFor(model => model.fechaOtorgada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.duracion, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="center-block">
            @Html.EditorFor(model => model.duracion, new { htmlAttributes = new { @class = "form-control center-block text-center", placeholder = "Duración de la cita (minutos)", } })
            @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.fechaRealizada, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="center-block">
            @Html.TextBox("Usuario", DateTime.Now.ToString("dd/MM/yyyy"), new { id = "fecha1", @class = "form-control center-block text-center" })
           @* @Html.EditorFor(model => model.fechaRealizada, new { htmlAttributes = new { @class = "form-control center-block text-center", placeholder = "Fecha actual", id = "fecha1" } })*@
            @Html.ValidationMessageFor(model => model.fechaRealizada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.nombreMedico, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="center-block">
            @Html.EditorFor(model => model.nombreMedico, new { htmlAttributes = new { @class = "form-control center-block text-center", placeholder = "Nombre del médico" } })
            @Html.ValidationMessageFor(model => model.nombreMedico, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.nombrePaciente, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="center-block">
            @Html.EditorFor(model => model.nombrePaciente, new { htmlAttributes = new { @class = "form-control center-block text-center", placeholder = "ID del paciente" } })
            @Html.ValidationMessageFor(model => model.nombrePaciente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        @*@Html.LabelFor(model => model.nombreAsistenteRealizada, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="center-block">
            @Html.EditorFor(model => model.nombreAsistenteRealizada, new { htmlAttributes = new { @class = "form-control center-block text-center", placeholder = "Realizado por", } })
            @Html.ValidationMessageFor(model => model.nombreAsistenteRealizada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group center-block">
        <div class="center-block">
            <input type="submit" value="Create" class="btn btn-danger btn-lg btn-block center-block" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>$(function () {
            $('#fecha').datepicker({
                dateFormat: "dd-mm-yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            })
        })
        $(function () {
            $('#fecha1').datepicker({
                dateFormat: "dd-mm-yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            })
        })</script>
}