@model FinalProg3.Models.citas

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Eliminar Cita</h2>

<h3>¿Está seguro de eliminar esta cita?</h3>
<div>
    <h4>Si elimina esta cita los datos no podrán ser recuperados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de la cita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaOtorgada)
        </dd>

        <dt>
            Duración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            Realizada en
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRealizada)
        </dd>

        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMedico)
        </dd>

        <dt>
            ID paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePaciente)
        </dd>

        <dt>
            Realizada por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreAsistenteRealizada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a citas", "Index")
        </div>
    }
</div>
