@model IEnumerable<FinalProg3.Models.citas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaOtorgada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRealizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreMedico1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombrePaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreAsistenteRealizada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaOtorgada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRealizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMedico1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreAsistenteRealizada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
