@model IEnumerable<FinalProg3.Models.citas>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Ver Citas</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table table-hover">
    <tr style="background: #808080; color: #fff;">
        <th>
            Fecha Cita
        </th>
        <th>
            Duración
        </th>
        <th>
            Realizada 
        </th>
        <th>
            Doctor
        </th>
        <th>
            Paciente
        </th>
        <th>
            Realizada por
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaOtorgada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRealizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreAsistenteRealizada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
