@model FinalProg3.Models.visitas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de la visita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealizada)
        </dd>

        <dt>
            Motivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMedico)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePaciente)
        </dd>

        <dt>
            Comentario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            Receta médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecetaMedicamento)
        </dd>

        <dt>
            Próxima visita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProxVisita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Visitas", "Index")
</p>
