@model IEnumerable<FinalProg3.Models.visitas>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="margin: 3% 0 2% 0;">Lista de visitas</h2>

<p>
    @Html.ActionLink("Crear nueva visita", "Create")
</p>
<table class="table table table-hover">
    <tr style="background: #808080; color: #fff;">
        <th >
            Fecha de la visita
        </th>
        <th>
            Motivo
        </th>
        <th>
            Nombre del médico
        </th>
        <th>
            Nombre del paciente
        </th>
        <th>
            Comentario
        </th>
        <th>
            Receta Médica
        </th>
        <th>
            Próxima visita
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRealizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecetaMedicamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaProxVisita)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id }) |
            @Html.ActionLink("Receta","Receta")
        </td>
    </tr>
}

</table>
