@model FinalProg3.Models.visitas

@{
    ViewBag.Title = "Receta";
}

<h2>Receta</h2>

<div>
    <h4>visitas</h4>
    <hr />
    <dl class="dl-horizontal">
 
        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMedico)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePaciente)
        </dd>

        <dt>
            Comentario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            Receta médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecetaMedicamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
